.topbar {
  display: flex;
  position: relative;
  width: 86%;
  height: 8vh;
  background: $color-1;
  margin-left: 14%;
  align-items: center;
}
.user {
  display: flex;
  position: relative;
  align-items: center;

  margin-left: 100px;

  .userRound {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    background: $white;
    margin-right: 10px;
  }
  .userName {
    color: $white;
  }
}
.iconNav {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;

  .icon {
    width: 5vh;
    height: 5vh;
    border-radius: 50%;

    margin-right: 10px;
  }
  .iconName {
    color: $white;
  }
}
